body {
    margin: 0;
    padding: 0;
    /* height: 10000px; */
    background-color: #C3D9FA;
}

/* Header Style  */

header {
    background: linear-gradient(to right, #E3EAFA, #80B3FB);
    color: rgb(7, 7, 72);
}

.hero {
    background-image: url("../img/hero.png");
    width: 100%;
    height: 600px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-transform: capitalize;
    font-family: sans-serif;
    border-bottom: 1px solid black;
}

.hero h1 {
    font-size: 75px;
    font-style: italic;
    font-family: serif;
    margin-top: -10px;
}

.hero .login-btn {
    font-size: 20px;
    padding: 10px;
    border-radius: 45px;
    background-color: #AACBFA;
    background-image: linear-gradient(to right, #95afec, #135fca);
    background-size: 0% 100%;
    background-position: left;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease;
    cursor: pointer;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}

.hero .login-btn:hover {
    background-size: 100% 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    padding: 10px;
    border-bottom: 1px solid #4790f7;
}

.navbar h2 {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar h2>span {
    margin-left: 10px;
}

.nav-logo {
    width: 75px;
    height: 75px;
}

.navbar a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    color: #072b57;
}

.nav-links-container {
    display: flex;
    gap: 10px;
}

.nav-link {
    display: flex;
    margin: 0px 10px;
}

/* ================================================================= */

/* Footer Style  */

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    border-top: 1px solid black;
    margin-top: 70px;
    padding-top: 20px;
    padding-bottom: 30px;
    background: linear-gradient(to right, #065BAF, #052E61);
    color: #dfe9f9;

}

.footer-f-section h2 {
    font-family: sans-serif;
    font-weight: 900;
    font-style: italic;
    text-decoration: underline;
    color: #f5f5f5;
}

.footer-s-section,
.footer-t-section {
    text-align: left;
    font-weight: 600;
}

.footer-s-section h2,
.footer-t-section h2 {
    text-align: center;
}

.footer-container a {
    color: #dfe9f9;
}

/* ================================================================= */

/* Main Style  */

.container {
    margin: 30px;
}

.title {
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    font-family: sans-serif;
    font-size: 40px;
    text-transform: capitalize;
    text-shadow: 0px 30px 13px #000000b8;
    color: #023479;
    margin-bottom: 50px;
}

.section {
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}

/* ================================================================= */

/* Home Style  */

/* Cards Style  */

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    /* flex-shrink: 1; */
    width: 24%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #8ba2c5;
    border: 1px solid rgb(27, 48, 135);
    border-radius: 20px;
}

.img-card img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.title-card {
    text-align: center;
}

.info-card {
    margin-left: 10px;
    display: flex;
    flex-direction: column;

}

.info-card p {
    margin: 10px;
}

.card button {
    /* width: 150px; */
    margin: 5px auto;
    margin-bottom: 10px;
    font-size: 17px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 45px;
    padding: 10px;
    color: black;
    background-color: transparent;
    background-image: linear-gradient(to right, #0156A7, #1A375F);
    background-size: 0% 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease;
    cursor: pointer;
}

.card button:hover {
    background-size: 100% 100%;
    color: white;
}

/* Events Style  */

/* .events-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */

.event,
.event-style2 {
    width: 43%;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 45px 0px 0px 45px;
    margin-top: 20px;
}

.img-event,
.img-event-style2 {
    width: 225px;
    border-radius: 45px 0px 0px 45px;
}

.info-event,
.info-event-style2 {
    text-align: center;
}

.event-style2 {
    border-radius: 0px 45px 45px 0px;
    justify-self: end;
}

.img-event-style2 {
    border-radius: 0px 45px 45px 0px;
}


/* Gallery Style  */

.gallery-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery-img {
    width: 23%;
    height: 200px;
    border-radius: 65px;
}

.gallery-img:hover {
    transform: translateY(-15px);
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 25px 13px rgba(0, 0, 0, 0.827);
    cursor: pointer;
}

/* ================================================================= */

/* Services Style  */

/* First Section  */

.section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px auto;
}

.course-img,
.event-img {
    width: 500px;
    margin: 10px;
    border-radius: 45px;
}

.course-img,
.event-img:hover {
    cursor: pointer;
    transform: translateY(-20px);
    box-shadow: 0px 30px 13px rgba(0, 0, 0, 0.785);
    transition: transform 0.4s ease-in-out;
}

#goBackBtn {
    width: 200px;
    height: 50px;
    font-size: 30px;
    font-weight: 700;
    font-family: serif;
    margin-top: 10px;
    border-radius: 45px;
    cursor: pointer;
    background-color: #7D9AC5;
    background-image: linear-gradient(45deg, #075BAF, #052E61);
    background-size: 0 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease-in-out;
}

#goBackBtn:hover {
    background-size: 100% 100%;
    color: #DCE7F8;
}

/* Second Section  */

.courses-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Third Section  */

.services-event-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* ================================================================= */

/* About Style  */

.about-box {
    border: 1px solid black;
    margin: 30px auto;
    padding: 5px 20px;
    border-radius: 25px;
    box-shadow: 10px 10px 20px black;
    color: #002346;
}

.sec-title {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: capitalize;
    color: #02295A;
    font-style: oblique;
    text-align: center;
}

.des {
    font-size: 20px;
    font-weight: 600;
}

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 24px;
    font-family: sans-serif;
    text-transform: capitalize;
    color: #052E62;
}

.team span {
    font-size: 20px;
    font-family: serif;
    font-weight: 650;
    color: #072B57;
}

/* ================================================================= */

/* Contact Style  */

.contact-container {
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

.contact-form {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 40px;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.603);
    background-color: #0A71D8;
}

.contact-form input,
textarea {
    width: 300px;
    height: 30px;
    border-radius: 45px;
    font-size: 17px;
}

.form-item {
    margin: 10px auto;
}

.form-item label {
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
}

.form-btn {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-btn button {
    font-size: 25px;
    background-color: rgba(11, 152, 11, 0.733);
    color: white;
    border-radius: 45px;
    cursor: pointer;
}

.form-btn button:nth-child(2) {
    background-color: rgba(255, 0, 0, 0.784);
}

/* ================================================================= */

/* Login Style  */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.login-form {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    margin: 30px auto;
    background-color: #7D9AC5;
    border: 1px solid black;
    border-radius: 20px;
}

.login-form-item {
    position: relative;
    width: 300px;
    margin: 10px auto;
}

.login-form-item input {
    width: 100%;
    padding: 14px 10px;
    font-size: 16px;
    border: 1px solid #068fff;
    outline: none;
    border-radius: 4px;
}

.login-form-item label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    transition: 0.4s ease;
    pointer-events: none;
    background-color: white;
    padding: 0 5px;
}

.login-form-item input:focus+label,
.login-form-item input:valid+label {
    background-color: #7D9AC5;
    top: -1px;
    font-size: 14px;
}

.form-gen{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.f-lable-gen{
    margin-right: 10px;
}

.form-gen label{
    font-size: 20px;
}

.login-form a{
    color: #000;
    font-size: 25px;
    margin-top: 30px;
    padding: 10px 30px;
    font-family: serif;
    border-radius: 45px;
    text-decoration: none;
    border: 1px solid black;
    background-color: #9EC3FA;
    background-image: linear-gradient(to right, #9EC3FA , #0368ff);
    background-size: 0 100%;
    background-position: left;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease-in-out;
}

.login-form a:hover{
    background-size: 100% 100%;
}

#eyeShow{
    position: absolute;
    top: 30%;
    right: 1px;
    background-color: white;
    border: none;
    cursor: pointer;
}

/* ================================================================= */

/* Hide and active class  */
.active {
    display: none;
}

/* Scroll To Top Btn  */
#scrollBtn {
    width: 50px;
    height: 50px;
    font-size: 30px;
    background-color: #0a71d8;
    border: 1px solid black;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: none;
}

/* ================================================================= */

/* Responsive  */

/* phone media  */

@media (max-width: 768px) {

    .hero {
        height: 200px;
    }

    .hero h1 {
        font-size: 25px;
    }

    .hero .login-btn {
        font-size: 15px;
    }

    .navbar h2 {
        font-size: 25px;
    }

    nav {
        position: fixed;
        left: 0px;
        bottom: 0px;
        border: 1px solid black;
        width: 100%;
        border-radius: 45px;
        margin: 15px auto;
        background-color: #87B7FA;
        box-shadow: 10px 10px 20px rgba(49, 48, 48, 0.566);
    }

    .nav-links-container {
        display: flex;
        justify-content: space-around;
        padding-left: 0px;
    }

    .navbar a {
        color: rgb(7, 7, 72);
    }

    .footer-container {
        padding-bottom: 70px;
    }

    .title {
        font-size: 25px;
    }

    .card {
        width: 100%;
    }

    .gallery-img {
        width: 100%;
        height: 300px;
    }

    .event,
    .event-style2 {
        width: 100%;
        margin-bottom: 20px;
        border-radius: 0px;
    }

    .img-event,
    .img-event-style2 {
        width: 125px;
        border-radius: 0px;
    }

    .course-img,
    .event-img {
        width: 300px;
        margin: 10px;
    }

    .team {
        font-size: 20px;
    }

    .team span {
        font-size: 15px;
    }

    #scrollBtn {
        bottom: 75px;
    }
}

/* ================================================================= */

/* tablet media  */

@media (min-width: 769px) and (max-width: 1024px) {
    .hero {
        height: 400px;
    }

    .card-container {
        justify-content: space-around;
    }

    .card {
        width: 30%;
    }

    .gallery-img {
        width: 30%;
        height: 225px;
    }

    .event,
    .event-style2 {
        width: 70%;
        margin-bottom: 20px;
    }

    .img-event,
    .img-event-style2 {
        width: 200px;
    }

    .course-img,
    .event-img {
        width: 600px;
        margin: 30px auto;
    }

    .services-event-container {
        justify-content: center;
        align-items: center;
    }

    .contact-container {
        margin: 200px auto;
    }

    #scrollBtn {
        width: 75px;
        height: 75px;
    }
}


/* Animation  */